.benefits {
  padding: 120px 0;
  background-color: $color-maya-blue-transparent;
  background-image: linear-gradient($color-solitude-transparent),
    url("../img/background/bg-benefits.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 25%;

  @media (min-resolution: $retina-dppx) {
    background-image: linear-gradient($color-solitude-transparent),
      url("../img/background/bg-benefits@2x.jpg");
  }

  @include vp-1023 {
    padding-top: 89px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-top: 58px;
    padding-bottom: 69px;
  }
}

.benefits h2 {
  margin-top: 0;
  margin-bottom: 60px;
  font-weight: 600;
  font-size: 28px;
  text-align: center;

  @include vp-1023 {
    margin-bottom: 50px;
    font-size: 26px;
    line-height: 39px;
  }

  @include vp-767 {
    margin-bottom: 28px;
    font-size: 24px;
    line-height: 36px;
  }
}

.benefits ul {
  margin: 0;
  padding: 0;
  list-style-type: none;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;

  @include vp-1023 {
    gap: 30px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

.benefits li {
  padding: 30px 30px 42px;
  background-color: $color-default-white;

  @include vp-1023 {
    padding: 25px 16px 20px;
  }

  @include vp-767 {
    padding-left: 20px;
    padding-right: 24px;
  }
}

.benefits svg {
  margin-bottom: 10px;

  @include vp-1023 {
    transform: scale(0.75, 0.8);
    margin-bottom: 7px;
  }
}

.benefits h3 {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;

  @include vp-1023 {
    line-height: 25px;
  }
}

.benefits p {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
}
