.contacts {
  padding: 120px 0;

  @include vp-1023 {
    padding: 100px 0;
  }

  @include vp-767 {
    padding: 57px 0 53px;
  }
}

.contacts > div {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 500px);
  column-gap: 100px;
  align-items: center;

  @include vp-1023 {
    grid-template-columns: 48% 1fr;
    column-gap: 29px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column-reverse;
    align-items: stretch;
    gap: 30px;
  }
}

.contacts iframe {
  border: none;
  display: block;
  width: 100%;
  height: 306px;

  @include vp-1023 {
    height: 335px;
  }
}

.contacts p {
  margin: 0;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;

  @include vp-1023 {
    margin-bottom: 26px;
  }
}

.contacts address {
  position: relative;
  padding-left: 29px;
  margin-bottom: 21px;
  line-height: 24px;
  font-style: normal;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -2px;
    width: 18px;
    height: 22px;
    background-image: url("../img/svg/icon-pin.svg");
    background-repeat: no-repeat;
    background-position: center;

    @include vp-1023 {
      top: 2px;
    }

    @include vp-1023 {
      top: 5px;
    }
  }

  @include vp-767 {
    margin-bottom: 24px;
  }
}

.contacts a {
  position: relative;
  padding-left: 29px;
  line-height: 24px;
  display: block;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -2px;
    width: 18px;
    height: 18px;
    background-image: url("../img/svg/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  @include focus {
    outline: 1px solid $color-default-black;
    outline-offset: 2px;
  }
}
