.intro {
  padding-top: 270px;
  padding-bottom: 277px;
  background-color: $color-sapphire;
  background-image: url("../img/background/bg-intro.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 25%;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/background/bg-intro@2x.jpg");
  }

  @include vp-1023 {
    padding-bottom: 274px;
    background-position: 50% 25%;
  }

  @include vp-767 {
    padding-top: 175px;
    padding-bottom: 179px;
    background-position: 48% 32%;
    background-size: auto calc(100% + 145px);
  }
}

.intro h1,
.intro p {
  padding-left: 95px;
  margin: 0;
  color: $color-default-white;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  @include vp-1023 {
    padding-left: 0;
  }
}

.intro h1 {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 54px;
  line-height: 66px;

  @include vp-1023 {
    font-size: 50px;
    line-height: 61px;
  }

  @include vp-767 {
    font-size: 36px;
    line-height: 45px;
  }
}

.intro p {
  font-size: 20px;
  line-height: 24px;

  @include vp-1023 {
    font-size: 18px;
    line-height: 22px;
  }

  @include vp-767 {
    font-size: 16px;
  }
}
