.promo {
  padding-top: 120px;
  padding-bottom: 145px;

  @include vp-1023 {
    padding-top: 100px;
    padding-bottom: 94px;
  }

  @include vp-767 {
    padding-top: 65px;
    padding-bottom: 85px;
  }
}

.promo > div {
  display: grid;
  grid-template-columns: auto 50%;
  column-gap: 45px;

  @include vp-1023 {
    column-gap: 15px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    row-gap: 45px;
  }
}

.promo h2 {
  margin: 66px 0 33px;
  font-weight: 600;
  font-size: 28px;

  @include vp-1023 {
    margin: -10px 0 15px;
    font-size: 26px;
    line-height: 36px;
  }

  @include vp-767 {
    margin-top: -10px;
    font-size: 24px;
    line-height: 34px;
  }
}

.promo p {
  margin: 0;
}

.promo img {
  display: block;
  margin-left: auto;

  @include vp-1023 {
    margin: 0;
    padding-left: 10px;
    padding-right: 5px;
  }

  @include vp-767 {
    margin: 0;
    padding: 0;
  }
}
