// Colors
// ---------------------------------

// Default

$color-default-black:               #011c40;
$color-default-white:               #f9fbfd;
$color-transparent:                 rgba(255, 255, 255, 0);

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482

$color-sapphire:                #101a56;
$color-tangaroa-transparent:    rgba(1, 28, 64, 0);
$color-maya-blue-transparent:   rgba(229, 238, 247, 0.5);
$color-solitude-transparent:    rgba(227, 236, 246, 0.9);

// Gradient
$black-180deg:                  linear-gradient(180deg, $color-tangaroa-transparent 50%, $color-default-black 100%);
$black-to-right:                linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 75%);

// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default:                        16px;

// у некоторых шрифтов в ios возникают проблемы с символом рубля
// https://www.artlebedev.ru/kovodstvo/sections/159/#13
$ff-rouble:                         "Rouble", "Arial", sans-serif;
$ff-main:                           "Montserrat", "Arial", sans-serif;

// Animation
// ---------------------------------

$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal:                       0.6s cubic-bezier(0.55, 0, 0.1, 1);

$trans-600:                         0.6s $tf-default;

// Viewports
// ---------------------------------

$vp-320:                            320px;
$vp-375:                            375px;
$vp-768:                            768px;
$vp-1024:                           1024px;
$vp-1280:                           1280px;
$vp-1440:                           1440px;
$vp-1920:                           1920px;

// Retina
// ---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       2dppx;
